.support-badges {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0;

    .sup-badge {
        margin: 0 20px 0 20px;

    }

    h1 {
        font-size: 20px;
        font-weight: 700;
    }

    p {
        font-size: 16;
        font-weight: 400;
    }
}